<html>
<head></head>
<body>

<div class="col-md-12" >
 
    <div class="image">
      <img src="../assets/img/123.jpg" alt="...">
    </div>

</div>

<div class="main-content" style="margin-top: 1%;">

  <div class="text-right ">
    <button href="" class="btn btn-round btn-danger btn-lg">Voir notre menu</button>
  </div>


  
  <div class="row">

    <div class="col-md-12">
      <div class="card">
       
        <div class="card-header">
        
          <h5 class="title  text-center">Notre Menu</h5>
          
        </div>
        <div class="text-center">
          <a target="_blank" href="" class="btn btn-round btn-danger btn-lg">Ajouter plat</a>
        </div>
        
        

        <h5 class="title  text-left">Nos Fajitas</h5>
        <div class="card-body all-icons">
          <div class="row"*ngFor="let i of Restaurants;let position=index">


           
              <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
                <div class="font-icon-detail">
                  <div  class="image">
                    <img class="img-stl" src="../assets/img/66.jpg" alt="...">
                  </div>
                  <h5 class="title">{{i.nom}}</h5>                  
                  <h6>{{i.prix}} DT</h6>
                 
                </div>
              </div>
            
           
           
            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/55.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>
           
            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/99.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/66.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/11.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/99.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/88.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            <div class="font-icon-list col-lg-3 col-md-5 col-sm-6 col-xs-8 col-xs-8">
              <div class="font-icon-detail">
                <div class="image">
                  <img src="../assets/img/77.jpg" alt="...">
                </div>
                <h5 class="title">Trio Fajitas</h5>
                <h6>49,90 DT</h6>
              </div>
            </div>

            

          </div>
        </div>

        <p class="category  text-center">
          <a href="">Voir Plus</a>
        </p>
      </div>
    </div>
    
    <div class="col-md-12" >
      <div class="card"  style=" background-image: url('../assets/img/chilli.jpg'); border-radius: 6%;" >
        
        <div class="card-body">
          <form class="text-center">
            <div class="image text-right">
              <img src="../assets/img/12.jpg" style="max-width: 250px; border-radius: 50%; display: inline; margin-top: 1%; " alt="...">
            </div>
         
            <h5 class="text-center" style="color: white; font-weight: bold;">Prendre Contact</h5> 
            <div  style="margin-left: 35%; " >
            <div class="row">
              
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label style="color: white;">Nom et Prénom</label>
                  <input type="text" class="form-control" placeholder="Nom et Prénom" value="">
                </div>
              </div>
              
            </div>
            
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label style="color: white;">Adresse Email</label>
                  <input type="text" class="form-control" placeholder="Email" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label style="color: white;">Votre message ici...</label>
                  <input type="text" class="form-control" placeholder="message" value="">
                </div>
              </div>
             
            </div>

            
            <div class="col-md-4"  style="margin-left: 5%; ">
              <button class="btn btn-round btn-danger " style=" background-color: white; color: black;">Envoyer</button>
            </div>
          </div>
          </form>
       
        </div>
        
      </div>
      
    </div>
  </div>
</div>
</body>
</html>